
.faleconosco{

    width: 300px;
    margin: 0px auto;
    margin-bottom: 10px;


}

.faleconosco input, .faleconosco textarea, .faleconosco select{


    margin: 5px auto;
    width: 100%;
    padding: 5px 0;

}

.faleconosco textarea {

height: 100px;
resize: none;        

}

.faleconosco button{

width: 30%;
margin: 0 10%;
background-color: gainsboro;
font-weight: 16px;

}

body{

background-color: black;
color: yellow;


}

h2{

text-align: center;


}

h1{

    text-align: center;
}

p{
    text-align: center;
}


button[type="submit"]:hover{

background-color: blue;

}

button[type="reset"]:hover{

background-color: aqua;


}


nav{

text-align: center;
font-size: 30px;
}


body {
    background-image: url('background.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed;
  }
  
.btn-voltar{
    display: flex;
    align-items: center;
    justify-content: center;
}